body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;  /* fallback for old browsers */
    background: linear-gradient(to right, #ff5e62, #ff9966);  
    font-family: 'IBM Plex Serif', serif;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px ); /* vh es una medida relativa en función del viewport. vh sería viewport height y vw sería viewport width. En este caso le decimos que ocupe el 100% del alto del viewport menos 20px */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}


/** Menu Sencillo **/
@media screen and (max-width:768px){
        .sencillo ul{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
}


@media screen and (min-width:768px){
    .sencillo ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}



/* Iconos */
@media screen and (max-width: 768px){
    .iconos ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        flex: 0 2 40%;
    }
   
}

@media screen and (min-width:768px){
    .iconos ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}



/** Multinivel **/
@media screen and (min-width: 768px){
    .dropdown ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        position: relative;
    }

    .dropdown ul li ul{
        display: none;
        position: absolute; 
    }    
}

@media screen and (max-width: 768px){
    .dropdown ul{
        display: flex;
        flex-direction: column;
    }

    .dropdown ul li ul li:hover{
        background-color: red;
    }    
}

/** Redes Socialaes**/

#iconos ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}


/* Social y dropdown*/
#iconos2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#iconos2 #iconos{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (min-width: 768px){
    #iconos2 ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }
    
    #iconos2 ul li ul{
        display: none;
        position: absolute;
    }
}

@media screen and (max-width: 768px){
    #iconos2 ul{
        display: flex;
        flex-direction: column;
    }

    #iconos2 ul li ul li:hover{
        background-color: red;
    }
}


    

 


